@page "/V_Emergencia"
@page "/V_Emergencia/{OrdenID:int}"
 <h1>Nueva Emergencia</h1>

@inject NotificationService notificationService
@inject EmergenciaBLL emergenciaBll
@inject PacienteBLL Pacientes

<head>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<style>
    .Entrada{
        display: inline-block;
        padding: 5px;
        align-items: center;
    }
    .Entrada label{
        border-radius: 50px;
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border: 15px;
        margin: 5px;
    }
    .Entrada label
    {
        margin: 5px;
    }
    .Entrada textarea{
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border-radius: 15px;
        width: 100%;
    }
    .Form{
        display: block;
    }
    #Hallazgos label{
        width: 100%;
    }

</style>

</head>

<body>
    

    
    <div class="RHeader" style="z-index: -1;">
    </div>

        
    <div class="Form"  style="z-index: 1;">
    
   
        <div style=" width:100%;">
            
            <div>
                <br>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <RadzenDropDown Disabled=true AllowClear="true" TValue="string"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true"
                            class="w-100" Placeholder="Paciente"  Data="Pacientes.GetList()"
                            TextProperty="Cedula" ValueProperty="PacienteID" style="border-radius: 50px; background-color: #D9D9D9; border-color: #D9D9D9; border: 15px; margin: 5px;"
                            />
                    </div>

                    <div style="display: flex;">
                        <div class="Entrada" style="display: flex;">
                            <RadzenLabel >Fecha</RadzenLabel>
                            <RadzenDatePicker Disabled=true @bind-Value=@emergencia.Fecha ShowTime="true" HourFormat="12" DateFormat="MM/dd/yyyy h:mm tt" />
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <br>
        <div class="Entrada">
            <label for="M_Consulta">Motivo de Consulta:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.M_Consulta" name="M_Consulta"/>
        </div>

        <div class="Entrada">
            <label for="A_Relacionados">Antecedentes Relacionados:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.Antecedentes" 
                name="A_Relacionados"/>
        </div>
        <br>
        <div class="Entrada">
            <label for="A_Previas">Atenciones Previas:</label>
            <RadzenTextBox  Disabled=true Bind="emergencia.AtencionesPrevias"  name="A_Previas"/>
        </div>

        <div class="Entrada">
            <label for="Donde">Donde?</label>
            <RadzenTextBox Disabled=true name="Donde"/>
        </div>

        <div class="Entrada">
            <label for="M_Base">Medico Base:</label>
            <RadzenTextBox Disabled=true name="M_Base"/>
        </div>

        <div class="Entrada">
            <label for="Peso">Peso:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.Peso" name="Peso"/>
            <label for="Peso">lbs</label>
        </div>
        <br>
        <div class="Entrada">
            <label>Signos Vitales</label>
            <label for="TA">TA:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.TA" name="TA"/>
            <label for="FC">FC:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.FC" name="FC"/>
            <label for="Temperatura">Temperatura:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.Temperatura" name="Temperatura"/>
            <label for="Temperatura">C</label>
        </div>

        <div class="Entrada" style="display: inline-block;">
            <label>Laboratorios</label>
            <label for="Hemograma">Hemograma:</label>
            <RadzenTextBox Disabled=true  Bind="emergencia.Hemogramas"  name="Hemograma"/>
            <label for="Ex_Orina">Ex.Orina:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.Ex_Orina" name="Ex_Orina"/>
            <label for="Glisemia">Glisemia:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.Glisemia" name="Glisemia"/>
            <label for="Coprologico">Coprologico:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.Coprologico" name="Coprologico"/>
        </div>
        <br>
        <div class="Entrada" style="display: flex; align-items: center;">
            <label for="Imagenes">Imagenes:</label>
            <RadzenTextBox Disabled=true Bind="emergencia.Imagenes" name="Imagenes"/>

            <label for="Especificacion">Especfique</label>
            <RadzenTextArea Disabled=true type="Especificacion" id="Especificacion" Bind="emergencia.Especifique"
                name="Especificacion"></RadzenTextArea>
        </div>
    </div>
    <div class="Entrada" style="display: flex;">
        <label for="Diagnostico">Diagnostico</label>
        <RadzenTextArea Disabled=true Bind="emergencia.Diagnostico" name="Diagnostico"/>
    </div>
    <div class="Entrada " style="display:flex;">
        <label for="TyM">Tratamientos y Medicamentos:</label>
        <RadzenTextArea  Disabled=true Bind="emergencia.TyM" name="TyM"></RadzenTextArea>
    </div>
    <center>
        <a href="/E_Emergencia/@emergencia.OrdenID"> <button type="button" class="btn btn-primary" style="padding-left: 50px;padding-right: 50px; border-radius:50px; Background-Color:#3AB5F4; border-color:#3AB5F4; margin:10px;" >Editar</button></a>
        <a href="/"><button type="button" class="btn btn-danger" style="padding-left: 50px;padding-right: 50px; border-radius:50px; margin:10px;" @onclick="Eliminar">Eliminar</button></a>
    </center>




</body>
@code {
    [Parameter]
    public int OrdenID{get;set;}
    public Emergencia emergencia {get; set;} = new Emergencia();

    protected override void OnInitialized(){
        if (OrdenID > 0)
        {
            this.emergencia.OrdenID = this.OrdenID;
            this.Buscar();
        }
    }
    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }

    private void Buscar()
    {
        var emergenciaEncontrada = emergenciaBll.Buscar(OrdenID);
        if(emergenciaEncontrada != null)
        {
            Console.WriteLine($"Se encontro una ocupacion con el ID{this.emergencia.OrdenID}");
            this.emergencia = emergenciaEncontrada;
            
        }
        else
        {
            Nuevo();
            Console.WriteLine("Id no existente");
        }
    }


    public void Nuevo(){
        this.emergencia = new Emergencia();
    }

    public void Guardar(){

        emergenciaBll.Guardar(this.emergencia);
        Console.WriteLine($"Se guardo en el {this.emergencia.OrdenID}");
        this.Nuevo();
        
        
        //Console.WriteLine("Campos no validos o no completados");
    }
    



    public void Eliminar(){
        ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Registro Actualizado", Detail = "Eliminado con Exito", Duration = 4000 });

    }
}
