@page "/V_EmergenciaA"
@page "/V_EmergenciaA/{OrdenID:int}"

@inject EmergenciaABLL EmergenciaA

<head>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <style>
        .Entrada {
            display: inline-block;
            padding: 5px;
            align-items: center;
        }

        .Entrada labe> {
            border-radius: 50px;
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border: 15px;
            margin: 5px;
        }

        .Entrada label {
            margin: 5px;
        }

        .Entrada textarea {
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border-radius: 15px;
            width: 100%;
        }

        .Form {
            display: block;
        }

        #Hallazgos labe> {
            width: 100%;
        }
    </style>

</head>

<body>



    <div class="RHeader" style="z-index: -1;">
    </div>



    <div class="Form">

        <div style="justify-content: space-between; display: inline-flex;; width:100%;">
            <h1>Nueva Emergencia</h1>
            <div>
                <div class="Entrada">
                    <label for="fecha">Fecha:</label>
                    <label> type="date" class="form-control" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" id="fecha" name="fecha"></label>
                </div>

                <div class="Entrada">
                    <label for="Hora">Hora:</label>
                    <labe> type="Hora" id="Hora" name="Hora"></labe>
                </div>
            </div>
        </div>

    </div>

    <div>
        <div class="Entrada">
            <label for="ars">ARS:</label>
            <labe> type="ars" id="ars" name="ars"></labe>
        </div>

        <div class="Entrada" style="">
            <label for="nss">NSS:</label>
            <labe> type="nss" id="nss" name="nss"></labe>
        </div>
        <br>
        <div class="Entrada">
            <label for="M_Consulta">Motivo de Consulta:</label>
            <labe> type="M_Consulta" id="M_Consulta" name="M_Consulta"></labe>
        </div>

        <div class="Entrada">
            <label for="A_Relacionados">Antecedentes Relacionados:</label>
            <labe> type="A_Relacionados" id="A_Relacionados" name="A_Relacionados"></labe>
        </div>
        <br>
        <div class="Entrada">
            <label for="A_Previas">Atenciones Previas:</label>
            <labe> type="A_Previas" id="A_Previas" name="A_Previas"></labe>
        </div>

        <div class="Entrada">
            <label for="Donde">Donde?</label>
            <labe> type="Donde" id="Donde" name="Donde"></labe>
        </div>

        <div class="Entrada">
            <label for="M_Base">Medico Base:</label>
            <labe> type="M_Base" id="M_Base" name="M_Base"></labe>
        </div>

        <div class="Entrada">
            <label for="Peso">Peso:</label>
            <labe> type="Peso" id="Peso" name="Peso"></labe>
            <label for="Peso">lbs</label>
        </div>
        <br>
        <div class="Entrada">
            <label>Signos Vitales</label>
            <label for="TA">TA:</label>
            <labe> type="TA" id="TA" name="TA"></labe>
            <label for="FC">FC:</label>
            <labe> type="FC" id="FC" name="FC"></labe>
            <label for="Temperatura">Temperatura:</label>
            <labe> type="Temperatura" id="Temperatura" name="Temperatura"></labe>
            <label for="Temperatura">C</label>
        </div>

        <hr>
        <div class="Entrada" id="Hallazgos" style="width: 100%;;">
            <label style="color: rgb(103, 100, 100);">Hallazgos Positivos en el examen fisico</label>
            <div style="display: flex;">
                <label for="Cabeza">Cabeza</label>
                <labe> type="Cabeza" id="Cabeza" name="Cabeza"></labe>
            </div>
            <div style="display: flex;">
                <label for="Cuello">Cuello</label>
                <labe> type="Cuello" id="Cuello" name="Cuello"></labe>
            </div>
            <div style="display: flex;">
                <label for="Torax">Torax</label>
                <labe> type="Torax" id="Torax" name="Torax"></labe>
            </div>
            <div style="display: flex;">
                <label for="Pulmones">Pulmones</label>
                <labe> type="Pulmones" id="Pulmones" name="Pulmones"></labe>
            </div>
            <div style="display: flex;">
                <label for="Corazon">Corazon</label>
                <labe> type="Corazon" id="Corazon" name="Corazon"></labe>
            </div>
            <div style="display: flex;">
                <label for="Abdomen">Abdomen</label>
                <labe> type="Abdomen" id="Abdomen" name="Abdomen"></labe>
            </div>
            <div style="display: flex;">
                <label for="E_Inferiores">Extreminades Inferiores</label>
                <labe> type="E_Inferiores" id="E_Inferiores" name="E_Inferiores"></labe>
            </div>
            <div style="display: flex;">
                <label for="E_Superiores">Extreminades Superiores</label>
                <labe> type="E_Superiores" id="E_Superiores" name="E_Superiores"></labe>
            </div>
            <div style="display: flex;">
                <label for="Diagnostico">Diagnostico</label>
                <labe> type="Diagnostico" id="Diagnostico" name="Diagnostico"></labe>
            </div>
        </div>
        <hr>
        <div class="Entrada" style="display: inline-block;">
            <label>Laboratorios</label>
            <br>
            <label for="Hemograma">Hemograma:</label>
            <labe> type="Hemograma" id="Hemograma" name="Hemograma"></labe>
            <label for="Ex_Orina">Ex.Orina:</label>
            <labe> type="Ex_Orina" id="Ex_Orina" name="Ex_Orina"></labe>
            <label for="Glisemia">Glisemia:</label>
            <labe> type="Glisemia" id="Glisemia" name="Glisemia"></labe>
            <label for="Coprologico">Coprologico:</label>
            <labe> type="Coprologico" id="Coprologico" name="Coprologico"></labe>
        </div>
        <br>
        <div class="Entrada" style="display: flex; align-items: center;">
            <label for="Imagenes">Imagenes:</label>
            <labe> type="Imagenes" id="Imagenes" name="Imagenes"></labe>

            <label for="Especificacion">Especfique</label>
            <p type="Especificacion" id="Especificacion" name="Especificacion"></p>
        </div>
    </div>
    <br>
    <div class="Entrada " style="display:flex;">
        <label for="TyM">Tratamientos y Medicamentos:</label>
        <textarea type="TyM" id="TyM" style="width: 100%;" name="TyM"></textarea>
    </div>
    <center>
        <button type="button" class="btn btn-primary"
            style="padding-left: 50px;padding-right: 50px; border-radius:50px; Background-Color:#3AB5F4; border-color:#3AB5F4; margin:10px;">Registrar</button>
    </center>
</body>

@code {
    [Parameter]
        public int OrdenID {get;set;}

    public EmergenciaA emergencia {get; set;} = new EmergenciaA();

    protected override void OnInitialized(){
        if (OrdenID > 0)
        {
            this.emergencia.OrdenID = this.OrdenID;
            this.Buscar();
        }
    }


    private void Buscar()
    {
        var emergenciaEncontrada = EmergenciaA.Buscar(emergencia.OrdenID);
        if(emergenciaEncontrada != null)
        {
            Console.WriteLine($"Se encontro una ocupacion con el ID{this.emergencia.OrdenID}");
            this.emergencia = emergenciaEncontrada;
            
        }
        else
        {
            Nuevo();
            Console.WriteLine("Id no existente");
        }
    }


    public void Nuevo(){
        this.emergencia = new EmergenciaA();
    }

    public void Guardar(){

        EmergenciaA.Guardar(this.emergencia);
        Console.WriteLine($"Se guardo en el {this.emergencia.OrdenID}");
        this.Nuevo();
        
        
        //Console.WriteLine("Campos no validos o no completados");
    }
    



    public void eliminar(){
    bool RES = EmergenciaA.Eliminar(this.emergencia);

    if(RES == false){
        Console.WriteLine("Eliminado Correctamente");
        Nuevo();
    }
    else{
       Console.WriteLine("No se borro nada");
    }
            
            

        
    }
    

}
