@page "/V_Paciente"
@page "/V_Paciente/{PacienteID:int}"

@inject PacienteBLL Pacientes



    <head>
        <style>
    .Entrada{
        display: inline-block;
        padding: 5px;
        align-items: center;
    }
    .Entrada label{
        border-radius: 50px;
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border: 15px;
        margin: 5px;
    }
    .Entrada label
    {
        margin: 5px;
    }
    .Entrada textarea{
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border-radius: 15px;
        width: 100%;
    }
    body
    {
        background-color: white;
    }
        </style>
    </head>

    <body>
        <h1>Ver Paciente</h1>

        <EditForm model="Paciente">

        <div class="Entrada">
        <label for="Nombre" >Nombre:</label>
        <label @bind="paciente.PrimerNombre" type="Nombre"  id="Nombre"  name="Nombre"></label>
        </div>

        <div class="Entrada">
        <label for="S_Nombre" >Segundo Nombre:</label>
        <label @bind="paciente.SegundoNombre" type="S_Nombre"  id="S_Nombre"  name="S_Nombre"></label>
        </div>
        <br>
        <div class="Entrada">
        <label for="P_Apellido" >Primer Apellido:</label>
        <label @bind="paciente.PrimerApellido" type="P_Apellido"  id="P_Apellido"  name="P_Apellido"></label>
        </div>

        <div class="Entrada">
        <label for="S_Apellido" >Segundo Apellido:</label>
        <label @bind="paciente.SegundoApellido" type="S_Apellido"  id="S_Apellido"  name="S_Apellido"></label>
        </div>
        <br>

        <div class="Entrada">
        <label for="Sexo" >Sexo:</label>
        <label @bind="paciente.sexo" type="Sexo"  id="Sexo"  name="Sexo"></label>
        </div>

        <div class="Entrada">
        <label for="F_Nacimiento" >Fecha de Nacimiento:</label>
        <label @bind="paciente.FechaNacimiento"  type="F_Nacimiento"  id="F_Nacimiento"  name="F_Nacimiento"></label>
        </div>
        <br>
        <div class="Entrada">
        <label for="Cedula" >Cedula:</label>
        <label @bind="paciente.Cedula"  type="Cedula"  id="Cedula"  name="Cedula"></label>
        </div>

        <div class="Entrada">
        <label for="O_Laboral" >Ocupacion Laboral:</label>
        <label @bind="paciente.Ocupacion"  type="O_Laboral"  id="O_Laboral"  name="O_Laboral"></label>
        </div>

        <hr>
        <span style="color: rgb(103, 100, 100);">En caso de ser menor</span><br>
        <div class="Entrada">
        <label for="N_Tutor" >Nombre Tutor:</label>
        <label  @bind="paciente.NombreTutor" type="N_Tutor"  id="N_Tutor"  name="N_Tutor"></label>
        </div>

        <div class="Entrada">
        <label for="C_Tutor" >Cedula Tutor:</label>
        <label @bind="paciente.CedulaTutor"  type="C_Tutor"  id="C_Tutor"  name="C_Tutor"></label>
        </div>

        <hr>
        
        <div class="Entrada">
        <label for="Alergias" >Alergias:</label>
        <label @bind="paciente.Alergias" type="Alergias"  id="Alergias"  name="Alergias"></label>
        </div>

        <div class="Entrada">
        <label for="Telefono" >Telefono:</label>
        <label  @bind="paciente.Telefono" type="Telefono"  id="Telefono"  name="Telefono"></label>
        </div>

        <div class="Entrada">
        <label for="Direccion" >Direccion:</label>
        <label @bind="paciente.Direccion" type="Direccion"  id="Direccion"  name="Direccion"></label>
        </div>

        <div class="Entrada">
        <label for="Provincia" >Provincia:</label>
        <label @bind="paciente.Provincia" type="Provincia"  id="Provincia"  name="Provincia"></label>
        </div>

        <div class="Entrada">
        <label for="Municipio" >Municipio:</label>
        <label @bind="paciente.Municipio" type="Municipio"  id="Municipio"  name="Municipio"></label>
        </div>

    <center>
        <button type="button" class="btn btn-primary" style="padding-left: 50px;padding-right: 50px; border-radius:50px; Background-Color:#3AB5F4; border-color:#3AB5F4; margin:10px;"@onclick ="Guardar">Editar</button>
        <button type="button" class="btn btn-danger" style="padding-left: 50px;padding-right: 50px; border-radius:50px; Background-Color:#3AB5F4; border-color:#3AB5F4; margin:10px;"@onclick ="Guardar">Eliminar</button>
    </center>

    </EditForm>
    
</body>

@code {




    public Paciente paciente {get; set;} = new Paciente();
    public int PacienteID{get;set;}

    protected override void OnInitialized(){

        paciente.PacienteID=0;
        Buscar();
    }

     private void Buscar()
    {
        var pacienteEncontrado = Pacientes.Buscar(PacienteID);
        if(pacienteEncontrado != null)
        {
            Console.WriteLine($"Se encontro una ocupacion con el ID{this.paciente.PacienteID}");
            this.paciente = pacienteEncontrado;
            
        }
        else
        {
            Nuevo();
            Console.WriteLine("Id no existente");
        }
        
    }


    public void Nuevo(){
        this.paciente = new Paciente();
    }

    public void Guardar(){

        Pacientes.Guardar(this.paciente);
        Console.WriteLine($"Se guardo en el {this.paciente.PacienteID}");
        this.Nuevo();
        
        
        //Console.WriteLine("Campos no validos o no completados");
    }
    



    public void eliminar(){

       
        
    bool RES = Pacientes.Eliminar(this.paciente);

    if(RES == false){
        Console.WriteLine("Eliminado Correctamente");
        Nuevo();
    }
    else{
       Console.WriteLine("No se borro nada");
    }
            
            

        
       
        
    //Nuevo();
    //Console.WriteLine("Id no valido");
            
        
        
        
      
       
       
        
        
        
    }


}
