@page "/V_Paciente"
@page "/V_Paciente/{PacienteID:int}"

@inject NotificationService notificationService
@inject PacienteBLL Pacientes



    <head>
        <style>
    .Entrada{
        display: inline-block;
        padding: 5px;
        align-items: center;
    }
    .Entrada input{
        border-radius: 50px;
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border: 15px;
        margin: 5px;
    }
    .Entrada label
    {
        margin: 5px;
    }
    .Entrada textarea{
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border-radius: 15px;
        width: 100%;
    }
            .Entrada select {
            width: 200px;
            height: 35px;
            border-radius: 50px;
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border: 15px;
            margin: 5px;
        }
    
    body
    {
        background-color: white;
    }
        </style>
    </head>

    <body>
        <h1>Ver Paciente</h1>

        <EditForm model="Paciente">

        <div class="Entrada">
        <label for="Nombre" >Nombre:</label>
        <input @bind-value="paciente.PrimerNombre" disabled type="Nombre"  id="Nombre"  name="Nombre">
        </div>

        <div class="Entrada">
        <label for="S_Nombre" >Segundo Nombre:</label>
        <input @bind-value="paciente.SegundoNombre"disabled type="S_Nombre"  id="S_Nombre"  name="S_Nombre">
        </div>
        <br>
        <div class="Entrada">
        <label for="P_Apellido" >Primer Apellido:</label>
        <input @bind-value="paciente.PrimerApellido"disabled type="P_Apellido"  id="P_Apellido"  name="P_Apellido">
        </div>

        <div class="Entrada">
        <label for="S_Apellido" >Segundo Apellido:</label>
        <input @bind-value="paciente.SegundoApellido" disabled type="S_Apellido"  id="S_Apellido"  name="S_Apellido">
        </div>
        <br>

        <div class="Entrada">
            <label >Sexo:</label>
            <select id="Persona" name="Persona" disabled @bind="paciente.Sexo">
            @foreach(var item in Sexos)
            {

                <option value="@item"> @item</option>
            }
            
        </select>
        </div>

        <div class="Entrada">
        <label for="F_Nacimiento" >Fecha de Nacimiento:</label>
        <input type="F_Nacimiento" @bind-value="paciente.FechadeNacimiento" disabled id="F_Nacimiento"  name="F_Nacimiento">
        </div>
        <br>
        <div class="Entrada">
        <label for="Cedula" >Cedula:</label>
        <input type="Cedula"  id="Cedula" @bind-value="paciente.Cedula" disabled  name="Cedula">
        </div>

        <div class="Entrada">
        <label for="O_Laboral" >Ocupacion Laboral:</label>
        <input type="O_Laboral"  id="O_Laboral" @bind-value="paciente.Ocupacion" disabled name="O_Laboral">
        </div>

        <hr>
        <span style="color: rgb(103, 100, 100);">En caso de ser menor</span><br>
        <div class="Entrada">
        <label for="N_Tutor" >Nombre Tutor:</label>
        <input type="N_Tutor"  id="N_Tutor" @bind-value="paciente.Tutor" disabled  name="N_Tutor">
        </div>

        <div class="Entrada">
        <label for="C_Tutor" >Cedula Tutor:</label>
        <input type="C_Tutor"  id="C_Tutor" @bind-value="paciente.CedulaTutor" disabled name="C_Tutor">
        </div>

        <hr>
        
        <div class="Entrada">
        <label for="Alergias" >Alergias:</label>
        <input type="Alergias"  id="Alergias" @bind-value="paciente.Alergia" disabled name="Alergias">
        </div>

        <div class="Entrada">
        <label for="Telefono" >Telefono:</label>
        <input type="Telefono"  id="Telefono"  @bind-value="paciente.Telefono" disabled name="Telefono">
        </div>

        <div class="Entrada">
        <label for="Direccion" >Direccion:</label>
        <input @bind-value="paciente.Direccion" type="Direccion"  id="Direccion" disabled  name="Direccion">
        </div>

        <div class="Entrada">
        <label for="Provincia" >Provincia:</label>
        <input @bind-value="paciente.Provincia" type="Provincia"  id="Provincia" disabled  name="Provincia">
        </div>

        <div class="Entrada">
        <label for="Municipio" >Municipio:</label>
        <input @bind-value="paciente.Municipio" type="Municipio"  id="Municipio"  disabled name="Municipio">
        </div>


    <center>
        <a href="/E_Paciente/@paciente.PacienteID"> <button type="button" class="btn btn-primary" style="padding-left: 50px;padding-right: 50px; border-radius:50px; Background-Color:#3AB5F4; border-color:#3AB5F4; margin:10px;" >Editar</button></a>
        <a href="/"><button type="button" class="btn btn-danger" style="padding-left: 50px;padding-right: 50px; border-radius:50px; margin:10px;" @onclick="Eliminar">Eliminar</button></a>

    </center>

    </EditForm>
    
</body>

@code {
    [Parameter]
    public int PacienteID{get;set;}
    public Paciente paciente {get; set;} = new Paciente();
        List<Sexo> Sexos = Enum.GetValues(typeof(Sexo))
                            .Cast<Sexo>()
                            .ToList();
 

    protected override void OnInitialized(){
        if(PacienteID>0){

            
            Buscar();
        }
    }

    private void Buscar()
    {
        Paciente? pacienteEncontrado = Pacientes.Buscar(this.PacienteID);
        if(pacienteEncontrado != null)
        {
            Console.WriteLine($"Se encontro una ocupacion con el ID {this.paciente.PacienteID}");
            this.paciente = pacienteEncontrado;
            System.Console.WriteLine(paciente.PrimerNombre);
        }
        
    }
    public void chState()
    {
        
    }
    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
    public void Eliminar(){
        ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Registro Actualizado", Detail = "Eliminado con Exito", Duration = 4000 });
    }
}
