@page "/C_EmergenciaA"
<h3>Consultar Emergencia Asegurada</h3>

@inject EmergenciaABLL EmergenciaA
@inject PacienteBLL Paciente
@inject DetalleEmergenciaABLL DetallesEmergencias

<head>
    <style>
        .hidden {
            display: none;
        }

        .form-select {
            border: none;
            width: 150px;
        }

        .form-floating {
            width: 15%;
        }

        .Entrada {
            display: inline-block;
            padding: 5px;
            align-items: center;
        }

        .Entrada input {
            border-radius: 50px;
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border: 15px;
            margin: 5px;
        }

        .Entrada label {
            margin: 5px;
        }

        .Entrada textarea {
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border-radius: 15px;
            width: 100%;
        }
    </style>
</head>



    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
        FilterMode="FilterMode.Advanced" AllowGrouping="true" AllowSorting="true" AllowPaging="true"
        PagerHorizontalAlign="HorizontalAlign.Left" Data="@DetallesEmergencias.GetList()" TItem="DetalleEmergenciaA" ColumnWidth="200px"
        LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true">

        <Columns>
            <RadzenDataGridColumn TItem="DetalleEmergencia" Filterable="false" Sortable="false"  Frozen="true" Title="Acciones">
                <Template Context="Item">
                    <RadzenLink Path=@($"V_DetallesEmergenciasA/{Item.OrdenID}") Text="Ver" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="PrimerNombre" Title="Primer nombre" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="SegundoNombre" Title="Segundo Nombre" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="PrimerApellido" Title="Primer Apellido" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="SegundoApellido" Title="Segundo Apellido" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="Sexo" Title="Sexo" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="Cedula" Title="Cedula" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="Tutor" Title="Tutor" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="CedulaTutor" Title="Cedula Tutor" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="Fecha" Title="Fecha" />
            <RadzenDataGridColumn TItem="DetalleEmergenciaA" Property="Medico" Title="Medico" />

        </Columns>

    </RadzenDataGrid>

@code {
  
}
