@page "/C_EmergenciaA"
<h3>Consultar Emergencia Asegurada</h3>

@inject EmergenciaABLL EmergenciaA
@inject PacienteBLL Paciente


<head>
    <style>
        .hidden {
            display: none;
        }

        .form-select {
            border: none;
            width: 150px;
        }

        .form-floating {
            width: 15%;
        }

        .Entrada {
            display: inline-block;
            padding: 5px;
            align-items: center;
        }

        .Entrada input {
            border-radius: 50px;
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border: 15px;
            margin: 5px;
        }

        .Entrada label {
            margin: 5px;
        }

        .Entrada textarea {
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border-radius: 15px;
            width: 100%;
        }
    </style>
</head>



    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
        FilterMode="FilterMode.Advanced" AllowGrouping="true" AllowSorting="true" AllowPaging="true"
        PagerHorizontalAlign="HorizontalAlign.Left" Data="@EmergenciaA.GetList()" TItem="EmergenciaA" ColumnWidth="200px"
        LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true">

        <Columns>
            <RadzenDataGridColumn TItem="EmergenciaA" Filterable="false" Sortable="false"  Frozen="true" Title="Acciones">
                <Template Context="Item">
                    <RadzenLink Path=@($"V_EmergenciaA/{Item.OrdenID}") Text="Ver" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EmergenciaA" Filterable="true" Sortable="true"  Frozen="false" Title="PacienteId">
                <Template Context="Item">
                    <RadzenText>@Item.PacienteID</RadzenText>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EmergenciaA" Filterable="true" Sortable="true"  Frozen="false" Title="PrimerNombre">
                <Template Context="Item">
                    <RadzenText>@((Paciente.Buscar(Item.PacienteID)).PrimerNombre)</RadzenText>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EmergenciaA" Property="OrdenID" Title="#ID" />
            <RadzenDataGridColumn TItem="EmergenciaA" Property="M_Consulta" Title="Motivo consulta" />
            <RadzenDataGridColumn TItem="EmergenciaA" Property="Fecha" Title="Fecha" />
            <RadzenDataGridColumn TItem="EmergenciaA" Property="MedicoBase" Title="Medico Base" />
            <RadzenDataGridColumn TItem="EmergenciaA" Property="Diagnostico" Title="Diagnostico" />
        </Columns>

    </RadzenDataGrid>

@code {
  
}
