@page "/C_Paciente"
<h3>Consultar Paciente</h3>


@inject PacienteBLL Paciente


<head>
    <style>
        .hidden{
            display: none;
        }

        .form-select{
            border: none;
            width: 150px;
        }
        .form-floating {
            width: 15%;
        }
            .Entrada{
        display: inline-block;
        padding: 5px;
        align-items: center;
    }
    .Entrada input{
        border-radius: 50px;
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border: 15px;
        margin: 5px;
    }
    .Entrada label
    {
        margin: 5px;
    }
    .Entrada textarea{
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border-radius: 15px;
        width: 100%;
    }

    </style>
</head>
    

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
    AllowGrouping="true" AllowSorting="true" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
    Data="Paciente.GetList()" TItem="Paciente" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true">

        <Columns>
                    <RadzenDataGridColumn Filterable="false" Sortable="false" TItem="Paciente" Frozen="true" Title="Acciones">
                <Template Context="Item">
                    <RadzenLink Path=@($"V_Paciente/{Item.PacienteID}") Text="Ver" />
                </Template>
                    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Paciente" Property="PrimerNombre" Title="Primer nombre" />
            <RadzenDataGridColumn TItem="Paciente" Property="SegundoNombre" Title="Segundo Nombre" />
            <RadzenDataGridColumn TItem="Paciente" Property="PrimerApellido" Title="Primer Apellido" />
            <RadzenDataGridColumn TItem="Paciente" Property="SegundoApellido" Title="Segundo Apellido" />
            <RadzenDataGridColumn TItem="Paciente" Property="Sexo" Title="Sexo" />
            <RadzenDataGridColumn TItem="Paciente" Property="Cedula" Title="Cedula" />
            <RadzenDataGridColumn TItem="Paciente" Property="Ocupacion" Title="Ocupacion" />
            <RadzenDataGridColumn TItem="Paciente" Property="Tutor" Title="Tutor" />
            <RadzenDataGridColumn TItem="Paciente" Property="CedulaTutor" Title="Cedula Tutor" />
        </Columns>

    </RadzenDataGrid>

@code {

}