@page "/R_EmergenciaA"

@inject EmergenciaABLL EmergenciaA

<head>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <style>
        .Entrada {
            display: inline-block;
            padding: 5px;
            align-items: center;
        }

        .Entrada input {
            border-radius: 50px;
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border: 15px;
            margin: 5px;
        }

        .Entrada label {
            margin: 5px;
        }

        .Entrada textarea {
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border-radius: 15px;
            width: 100%;
        }

        .Form {
            display: block;
        }

        #Hallazgos input {
            width: 100%;
        }
    </style>

</head>

<body>



    <div class="RHeader" style="z-index: -1;">
    </div>



    <div class="Form">

        <div style="justify-content: space-between; display: inline-flex;; width:100%;">
            <h1>Nueva Emergencia</h1>
            <div>
                <div class="Entrada">
                    <label for="fecha">Fecha:</label>
                    <input type="date" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" id="fecha"  @bind-value="emergencia.Fecha" name="fecha">
                </div>

                <div class="Entrada">
                    <label for="Hora">Hora:</label>
                    <input type="Hora" id="Hora"@bind-value="emergencia.Hora" name="Hora">
                </div>
            </div>
        </div>

    </div>

    <div>
        <div class="Entrada">
            <label for="ars">ARS:</label>
            <input type="ars" id="ars"@bind-value="emergencia.ARS" name="ars">
        </div>

        <div class="Entrada" style="">
            <label for="nss">NSS:</label>
            <input type="nss" id="nss" @bind-value="emergencia.NSS" name="nss">
        </div>
        <br>
        <div class="Entrada">
            <label for="M_Consulta">Motivo de Consulta:</label>
            <input type="M_Consulta" id="M_Consulta" @bind-value="emergencia.M_Consulta" name="M_Consulta">
        </div>

        <div class="Entrada">
            <label for="A_Relacionados">Antecedentes Relacionados:</label>
            <input type="A_Relacionados" id="A_Relacionados" @bind-value="emergencia.Antecedentes" name="A_Relacionados">
        </div>
        <br>
        <div class="Entrada">
            <label for="A_Previas">Atenciones Previas:</label>
            <input type="A_Previas" id="A_Previas" @bind-value="emergencia.AtencionesPrevias" name="A_Previas">
        </div>

        <div class="Entrada">
            <label for="Donde">Donde?</label>
            <input type="Donde" id="Donde" @bind-value="emergencia.Donde" name="Donde">
        </div>

        <div class="Entrada">
            <label for="M_Base">Medico Base:</label>
            <input type="M_Base" id="M_Base" @bind-value="emergencia.MedicoBase" name="M_Base">
        </div>

        <div class="Entrada">
            <label for="Peso">Peso:</label>
            <input type="Peso" id="Peso" @bind-value="emergencia.Peso" name="Peso">
            <label for="Peso">lbs</label>
        </div>
        <br>
        <div class="Entrada">
            <label>Signos Vitales</label>
            <label for="TA">TA:</label>
            <input type="TA" id="TA" @bind-value="emergencia.TA" name="TA">
            <label for="FC">FC:</label>
            <input type="FC" id="FC" @bind-value="emergencia.FC" name="FC">
            <label for="Temperatura">Temperatura:</label>
            <input type="Temperatura" id="Temperatura" @bind-value="emergencia.Temperatura" name="Temperatura">
            <label for="Temperatura">C</label>
        </div>

        <hr>
        <div class="Entrada" id="Hallazgos" style="width: 100%;;">
            <label style="color: rgb(103, 100, 100);">Hallazgos Positivos en el examen fisico</label>
            <div style="display: flex;">
                <label for="Cabeza">Cabeza</label>
                <input type="Cabeza" id="Cabeza" @bind-value="emergencia.Cabeza" name="Cabeza">
            </div>
            <div style="display: flex;">
                <label for="Cuello">Cuello</label>
                <input type="Cuello" id="Cuello" @bind-value="emergencia.Cuello" name="Cuello">
            </div>
            <div style="display: flex;">
                <label for="Torax">Torax</label>
                <input type="Torax" id="Torax" @bind-value="emergencia.Torax" name="Torax">
            </div>
            <div style="display: flex;">
                <label for="Pulmones">Pulmones</label>
                <input type="Pulmones" id="Pulmones" @bind-value="emergencia.Pulmones" name="Pulmones">
            </div>
            <div style="display: flex;">
                <label for="Corazon">Corazon</label>
                <input type="Corazon" id="Corazon" @bind-value="emergencia.Corazon" name="Corazon">
            </div>
            <div style="display: flex;">
                <label for="Abdomen">Abdomen</label>
                <input type="Abdomen" id="Abdomen" @bind-value="emergencia.Abdomen" name="Abdomen">
            </div>
            <div style="display: flex;">
                <label for="E_Inferiores">Extreminades Inferiores</label>
                <input type="E_Inferiores" id="E_Inferiores" @bind-value="emergencia.E_Inferiores" name="E_Inferiores">
            </div>
            <div style="display: flex;">
                <label for="E_Superiores">Extreminades Superiores</label>
                <input type="E_Superiores" id="E_Superiores" @bind-value="emergencia.E_Superiores" name="E_Superiores">
            </div>
            <div style="display: flex;">
                <label for="Diagnostico">Diagnostico</label>
                <input type="Diagnostico" id="Diagnostico" @bind-value="emergencia.Diagnostico" name="Diagnostico">
            </div>
        </div>
        <hr>
        <div class="Entrada" style="display: inline-block;">
            <label>Laboratorios</label>
            <br>
            <label for="Hemograma">Hemograma:</label>
            <input type="Hemograma" id="Hemograma" @bind-value="emergencia.Hemogramas" name="Hemograma">
            <label for="Ex_Orina">Ex.Orina:</label>
            <input type="Ex_Orina" id="Ex_Orina" @bind-value="emergencia.Ex_Orina" name="Ex_Orina">
            <label for="Glisemia">Glisemia:</label>
            <input type="Glisemia" id="Glisemia"@bind-value="emergencia.Glisemia" name="Glisemia">
            <label for="Coprologico">Coprologico:</label>
            <input type="Coprologico" id="Coprologico" @bind-value="emergencia.Coprologico" name="Coprologico">
        </div>
        <br>
        <div class="Entrada" style="display: flex; align-items: center;">
            <label for="Imagenes">Imagenes:</label>
            <input type="Imagenes" id="Imagenes"@bind-value="emergencia.Imagenes" name="Imagenes">

            <label for="Especificacion">Especfique</label>
            <textarea type="Especificacion" id="Especificacion"@bind="emergencia.Especifique" name="Especificacion"></textarea>
        </div>
    </div>
    <br>
    <div class="Entrada " style="display:flex;">
        <label for="TyM">Tratamientos y Medicamentos:</label>
        <textarea type="TyM" id="TyM" style="width: 100%;" @bind="emergencia.TyM" name="TyM"></textarea>
    </div>
    <center>
        <button type="button" class="btn btn-primary"
            style="padding-left: 50px;padding-right: 50px; border-radius:50px; Background-Color:#3AB5F4; border-color:#3AB5F4; margin:10px;">Registrar</button>
    </center>




</body>
@code {
    
    public EmergenciaA emergencia {get; set;} = new EmergenciaA();


    protected override void OnInitialized(){

        emergencia.OrdenID=0;

    }


    private void Buscar()
    {
        var emergenciaEncontrada = EmergenciaA.Buscar(emergencia.OrdenID);
        if(emergenciaEncontrada != null)
        {
            Console.WriteLine($"Se encontro una ocupacion con el ID{this.emergencia.OrdenID}");
            this.emergencia = emergenciaEncontrada;
            
        }
        else
        {
            Nuevo();
            Console.WriteLine("Id no existente");
        }
    }


    public void Nuevo(){
        this.emergencia = new EmergenciaA();
    }

    public void Guardar(){

        EmergenciaA.Guardar(this.emergencia);
        Console.WriteLine($"Se guardo en el {this.emergencia.OrdenID}");
        this.Nuevo();
        
        
        //Console.WriteLine("Campos no validos o no completados");
    }
    



    public void eliminar(){
    bool RES = EmergenciaA.Eliminar(this.emergencia);

    if(RES == false){
        Console.WriteLine("Eliminado Correctamente");
        Nuevo();
    }
    else{
       Console.WriteLine("No se borro nada");
    }
            
            

        
    }
    

}
