@page "/Suplidores"
@page "/Suplidores/{Tiempo:int}"
@layout EmptyLayout

@inject SuplidorBLL Suplidores

<body onload="window.print()">
<H1>Dr Emergencias</H1>
<h4>Suplidores</h4>
<hr>


 <RadzenFieldset>
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon  class="me-1" /><b>Reporte</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <table class="table table-striped" style="backgroud-color:white">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Contacto</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach(var item in lista)
                        {
                            <tr>
                            <td>@item.SuplidorID</td>
                            <td>@item.Nombre</td>
                            <td>@item.Contacto</td>
                            </tr>
                        }
                
                </tbody>
            </table>

        </ChildContent>
    </RadzenFieldset>



</body>
@code {
   [Parameter]
    public int Tiempo{get;set;}

    public IEnumerable<Suplidor> lista {get;set;}
    

    protected override void OnInitialized()
    {
        var plazo = DateTime.Now.Date;
        if(Tiempo<=0)
        {
            plazo=DateTime.Now;
        }
        else if(Tiempo==1)
        {
            plazo=plazo.AddDays(-8);
        }
        else if(Tiempo==2)
        {
            plazo=plazo.AddDays(-16);
        }
        else if(Tiempo==3)
        {
            plazo=plazo.AddDays(-31);
        }
        else if(Tiempo==4)
        {
            plazo=plazo.AddDays(-365);
        }
        else if(Tiempo>=5)
        {
            plazo=plazo.AddDays(-999);
        }
        else
        {

        }


        lista =  Suplidores.GetList().Where(o=>o.FechaRegistro <= plazo);
    }


    }


