@page "/"

<PageTitle>Home</PageTitle>


<head>
    <style>
        body {
            background-image: url('https://wallpaper.dog/large/903575.jpg');
            background-attachment: fixed;
            background-size: cover;
            opacity:0.9;
        }

        h1 {
            color:#121420;
            text-align:center;
        }

        p {
            color:#121420;
            text-align:center;
        }
    </style>
</head>

<body>

    

    
    <p ><em>Still developing.....</em></p>

</body>
