@inherits LayoutComponentBase
@using DrEmergencias
@using Radzen.Blazor

<PageTitle>Dr Emergencias</PageTitle>

<head>
    <link rel="shortcut icon" href="https://blogger.googleusercontent.com/img/a/AVvXsEgyC5BC69l2F5UDicjJ_VrOsI7y6N-lO33wuvTCnSBRwfbVqGUFMudClSrFuDDl0p6bzVqtmNUVJ5kOqgDBRUB_1jVMn1cojzv8DMNQ0fEo402OTig6mhWTRDdw9qMtXHCZX6PKrjs1RZumAJ2vi_ALWeX4WPcmBw7dXl21zhOs1TUqiSZ6t3n4luOG">
</head>


<RadzenNotification></RadzenNotification>

<RadzenLayout style="height: 100vh">
    
    <RadzenHeader class="rz-background-color-secondary-light" style="display: flex; justify-content: space-between; border:none;">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="rz-background-color-secondary-light" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)"   style= "border:none;  border-top-right-radius: 25px; border-bottom-right-radius: 25px;"/>
            
        </RadzenStack>

    <RadzenProfileMenu style=" border:none;"class="rz-background-color-secondary-light">
        <Template>
            <RadzenLabel Text="Usuario" style="color:rgb(255, 255, 255)" />
        </Template>
        <ChildContent>
            <RadzenProfileMenuItem Text="Perfil"  ></RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Cerrar Sesion"  ></RadzenProfileMenuItem>
        </ChildContent>
    </RadzenProfileMenu>


    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebar1Expanded"style="background-color:#28363c;" >
        
        
        <RadzenPanelMenu style="background-color:#28363c;" Multiple="false" >

                    <RadzenPanelMenuItem style="background-color:#28363c;" Text="Paciente" >
                        <RadzenPanelMenuItem  Text="Consultar" Path="C_Paciente" />
                        <RadzenPanelMenuItem Text="Registrar" Path="R_Paciente" />
                        <RadzenPanelMenuItem  Text="Reporte" Path="" />
                    </RadzenPanelMenuItem>


                    <RadzenPanelMenuItem style="background-color:#28363c;" Text="Emergencias No Aseguradas" >
                        <RadzenPanelMenuItem  Text="Consultar" Path="C_Emergencia" />
                        <RadzenPanelMenuItem  Text="Registrar" Path="R_Emergencia" />
                        <RadzenPanelMenuItem  Text="Reporte" Path="" />
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem style="background-color:#28363c;" Text="Emergencias Aseguradas" >
                        <RadzenPanelMenuItem  Text="Consultar" Path="C_EmergenciaA" />
                        <RadzenPanelMenuItem  Text="Registrar" Path="R_EmergenciaA" />
                        <RadzenPanelMenuItem  Text="Reporte" Path="" />
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem style="background-color:#28363c;" Text="Suministros" >
                        <RadzenPanelMenuItem  Text="Inventario" Path="Inventario" />
                        <RadzenPanelMenuItem  Text="Agregar" Path="R_Articulo" />
                        <RadzenPanelMenuItem  Text="Entrada" Path="Entradas" />
                        <RadzenPanelMenuItem  Text="Salida" Path="Salidas" />
                    </RadzenPanelMenuItem>


                    <RadzenPanelMenuItem style="background-color:#28363c;" Text="Pedidos" >
                        <RadzenPanelMenuItem  Text="Articulos en reorden" Path="Reorden" />
                        <RadzenPanelMenuItem  Text="Realizar orden de compra" Path="R_Compras" />
                        <RadzenPanelMenuItem  Text="Consulta compras" Path="C_Compra" />
                        
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem style="background-color:#28363c;" Text="Suplidores" >
                        <RadzenPanelMenuItem  Text="Consultar" Path="C_Suplidor" />
                        <RadzenPanelMenuItem  Text="Agregar " Path="R_Suplidores" />
                        <RadzenPanelMenuItem  Text="Reporte" Path="" />
                    </RadzenPanelMenuItem>


        </RadzenPanelMenu>
        <div class="rz-p-4">
        </div>
    </RadzenSidebar>
    <RadzenBody style="background-color: white;">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;

}