
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
body {  font-family: "Lato", sans-serif;
        background-image: url('https://wallpaper.dog/large/903575.jpg');
        background-attachment: fixed;
        background-size: cover;
        opacity:0.9;
}
</style>

<body>

<!-- Navbar -->
<div class="w3-top" >
    <div class="w3-bar w3-light-blue w3-card w3-left-align w3-large" >
        <img  class="w3-bar-item" src="https://blogger.googleusercontent.com/img/a/AVvXsEi4q-kqz34QpRGwgoXDEQtnX68vy8CdlmUBEVnZg6lsA-Om6KxTz1G7ayTUMecnJE9DzVhnlHQeHRg7gqiKMRv3uz-4X2MtwOi4fmf0x_bq6ZJja0StmVpsVxkStpREaH4prGhrCK-4cdguamc8EQDaKjaVEs7v5y-Vrdzb055J93UETHsAOy7bbUjb" height="40px" >
        <div >
        <a href="Identity/Account/Login" class="w3-bar-item w3-button w3-right w3-padding-large w3-hide-small w3-hover-white">Login</a>
        <a href="Identity/Account/Register" class="w3-bar-item w3-button w3-right w3-padding-large w3-hide-small w3-hover-white">Registrarse</a>
        </div>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-light-blue w3-center" style="padding:128px 16px">
<img  class="w3-margin w3-jumbo" src="https://blogger.googleusercontent.com/img/a/AVvXsEi4q-kqz34QpRGwgoXDEQtnX68vy8CdlmUBEVnZg6lsA-Om6KxTz1G7ayTUMecnJE9DzVhnlHQeHRg7gqiKMRv3uz-4X2MtwOi4fmf0x_bq6ZJja0StmVpsVxkStpREaH4prGhrCK-4cdguamc8EQDaKjaVEs7v5y-Vrdzb055J93UETHsAOy7bbUjb" height="100vw" >

  <h1 class="w3-margin w3-jumbo">DR EMERGENCIAS</h1>
</header>

<div class="w3-row-padding w3-padding-64 w3-white  w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>¿Que es Dr Emergencias?</h1>
      <h5 class="w3-padding-32">Dr Emergencias es un poderoso sistema de software diseñado especialmente para hospitales, que te 
      permitirá manejar todo lo relacionado con la administración de tus pacientes y los servicios que ofreces. Con Doctor Emergencias, 
      tendrás el control total de tu inventario, podrás generar reportes precisos y a tiempo, y manejar situaciones de emergencia
       con la máxima eficacia.Dr Emergencias es el sistema de software que necesitas para optimizar la administración de tu hospital,
        mejorar la calidad de la atención médica que ofreces, y garantizar el éxito de tu negocio. Confía en DURE Powerfull System y
         en Dr Emergencias para llevar tu hospital al siguiente nivel.</h5>
    </div>

    <div class="w3-third w3-center">
      <i class="material-icons w3-padding-64 w3-text-red w3-jumbo" >question_mark</i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center w3-jumbo">
      <i class="material-icons w3-padding-64 w3-text-red w3-jumbo" >person</i>
    </div>
    <div class="w3-twothird">
      <h1>Pacientes</h1>
      <h5 class="w3-padding-32">Con Dr Emergencias, podrás optimizar tus procesos de atención, ahorrar tiempo y dinero, y
       brindar una atención médica de calidad a tus pacientes ademas te permitirá manejar a tus pacientes de manera eficiente y
        efectiva. Podrás llevar un registro completo de su historial médico, y asegurarte de que reciban la atención que necesitan
         en todo momento.</h5>
    </div>
  </div>
</div>


<div class="w3-row-padding w3-padding-64 w3-white  w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Inventario</h1>
      <h5 class="w3-padding-32">Dr Emergencias te permitirá llevar un control detallado de todo tu inventario, lo que te
       ayudará a mantener el stock necesario de suministros y medicamentos para atender a tus pacientes. Además, el sistema 
       es capaz de generar reportes detallados sobre el uso de tus recursos, lo que te permitirá tomar decisiones informadas y 
       optimizar tu presupuesto.</h5>
    </div>

    <div class="w3-third w3-center w3-jumbo">
      <i class="material-icons w3-padding-64 w3-text-red w3-jumbo" >inventory_2</i>
    </div>
  </div>
</div>



<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Este sistema de software ha sido desarrollado por DURE Powerfull System, una empresa con amplia experiencia en la creación de soluciones tecnológicas innovadoras para el sector salud.</h1>
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by DURE POWERFULL SYSTEM</p>
</footer>


</body>




