@inherits LayoutComponentBase
@using DrEmergencias
@using Radzen.Blazor

@inject DialogService DialogService

<PageTitle>Dr Emergencias</PageTitle>

<head>
    <link rel="shortcut icon" href="https://blogger.googleusercontent.com/img/a/AVvXsEgyC5BC69l2F5UDicjJ_VrOsI7y6N-lO33wuvTCnSBRwfbVqGUFMudClSrFuDDl0p6bzVqtmNUVJ5kOqgDBRUB_1jVMn1cojzv8DMNQ0fEo402OTig6mhWTRDdw9qMtXHCZX6PKrjs1RZumAJ2vi_ALWeX4WPcmBw7dXl21zhOs1TUqiSZ6t3n4luOG">
</head>


<RadzenNotification></RadzenNotification>


<CascadingAuthenticationState>
<AuthorizeView>
    <Authorized>
<RadzenLayout style="height: 100vh">
  <RadzenHeader class="rz-background-color-secondary-light" style="display: flex; justify-content: space-between; border:none;">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="rz-background-color-secondary-light" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)"   style= "border:none;  border-top-right-radius: 25px; border-bottom-right-radius: 25px;"/>
            
        </RadzenStack>

    <RadzenProfileMenu style=" border:none;"class="rz-background-color-secondary-light">
        <Template>
            <Radzenlink  >@context.User.Identity?.Name!</Radzenlink>
        </Template>
        <ChildContent>
            <RadzenProfileMenuItem Text="Perfil" Path="/Identity/Account/Manage" ></RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Cerrar Sesion" Path="/Identity/Account/logout" ></RadzenProfileMenuItem>
        </ChildContent>
    </RadzenProfileMenu>

    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded"style="background-color:#28363c;" >
        
        
        <RadzenPanelMenu style="background-color:#28363c;" Multiple="false" >

                    <RadzenPanelMenuItem Selected="true" icon="account_box" style="background-color:#28363c;" Text="Paciente" >
                        <RadzenPanelMenuItem Selected="true"  icon="search" Text="Consultar" Path="C_Paciente"  />
                        <RadzenPanelMenuItem Selected="true"  icon="add" Text="Registrar" Path="R_Paciente" />
                    </RadzenPanelMenuItem>


                    <RadzenPanelMenuItem Selected="true"  icon="emergency" style="background-color:#28363c;" Text="Emergencias No Aseguradas" >
                        <RadzenPanelMenuItem Selected="true"  icon="search" Text="Consultar" Path="C_Emergencia" />
                        <RadzenPanelMenuItem  Selected="true" icon="add" Text="Registrar" Path="R_Emergencia" />
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem Selected="true" icon="shield"  style="background-color:#28363c;" Text="Emergencias Aseguradas" >
                        <RadzenPanelMenuItem Selected="true"  icon="search"  Text="Consultar" Path="C_EmergenciaA" />
                        <RadzenPanelMenuItem Selected="true"  icon="add" Text="Registrar" Path="R_EmergenciaA" />
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem Selected="true"  icon="inbox" style="background-color:#28363c;" Text="Suministros" >
                        <RadzenPanelMenuItem Selected="true"   icon="inventory_2" Text="Inventario" Path="Inventario" />
                        <RadzenPanelMenuItem Selected="true"   icon="add" Text="Agregar" Path="R_Articulo" />
                        <RadzenPanelMenuItem Selected="true"   icon="archive" Text="Entrada" Path="Entradas" />
                        <RadzenPanelMenuItem  Selected="true"  icon="unarchive" Text="Salida" Path="Salidas" />
                    </RadzenPanelMenuItem>


                    <RadzenPanelMenuItem Selected="true"  icon="request_quote" style="background-color:#28363c;" Text="Pedidos" >
                        <RadzenPanelMenuItem Selected="true"   icon="category" Text="Articulos en reorden" Path="Reorden" />
                        <RadzenPanelMenuItem Selected="true"  icon="feed" Text="Realizar orden de compra" Path="R_Compras" />
                        <RadzenPanelMenuItem Selected="true"  icon="search" Text="Consulta compras" Path="C_Compra" />
                        
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem Selected="true"  icon="local_shipping" style="background-color:#28363c;" Text="Suplidores" >
                        <RadzenPanelMenuItem Selected="true"  icon="search" Text="Consultar" Path="C_Suplidor" />
                        <RadzenPanelMenuItem Selected="true"  icon="add" Text="Agregar " Path="R_Suplidores" />
                    </RadzenPanelMenuItem>


        </RadzenPanelMenu>
        <div class="rz-p-4">
        </div>
    </RadzenSidebar>
    <RadzenBody style="background-color: white;">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>



    </Authorized>
    <NotAuthorized>
        <MainPage/>
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>


    
  

@code {
    bool sidebar1Expanded = true;


}