@page "/E_Paciente"
@page "/E_Paciente/{PacienteID:int}"

@inject PacienteBLL pacienteBll
@inject NotificationService notificationService


<head>
    <style>
        .Entrada {
            display: inline-block;
            padding: 5px;
            align-items: center;
        }

        .Entrada input {
            border-radius: 50px;
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border: 15px;
            margin: 5px;
        }

        .Entrada label {
            margin: 5px;
        }

        .Entrada textarea {
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border-radius: 15px;
            width: 100%;
        }

        .Entrada select {
            width: 200px;
            height: 35px;
            border-radius: 50px;
            background-color: #D9D9D9;
            border-color: #D9D9D9;
            border: 15px;
            margin: 5px;
        }

        body {
            background-color: white;
        }
    </style>
</head>


<h1>Editar Paciente</h1>

<EditForm model="Paciente">
    <div class="Entrada">
        <label for="Nombre">Nombre:</label>
        <RadzenTextBox  name="Nombre" @bind-Value="paciente.PrimerNombre"/>
    </div>

    <div class="Entrada">
        <label for="S_Nombre">Segundo Nombre:</label>
        <RadzenTextBox @bind-Value="paciente.SegundoNombre" name="S_Nombre"/>
    </div>
    <br>
    <div class="Entrada">
        <label for="P_Apellido">Primer Apellido:</label>
        <RadzenTextBox @bind-Value="paciente.PrimerApellido"  name="P_Apellido"/>
    </div>

    <div class="Entrada">
        <label for="S_Apellido">Segundo Apellido:</label>
        <RadzenTextBox @bind-Value="paciente.SegundoApellido"  name="S_Apellido"/>
    </div>
    <br>



                        <div style="display: flex; align-items:center;">

    <div class="Entrada">
        <label>Sexo:</label>
        <select id="Persona" name="Persona" @bind="paciente.Sexo">
            @foreach (var item in Sexos)
            {
                <option value="@item"> @item</option>
            }

        </select>
    </div>
                        <div class="Entrada" style="display: flex;">
                            <RadzenLabel >Fecha Nacimiento</RadzenLabel>
                            <RadzenTextBox style="display: inline-block;" type="date" class="form-control" aria-label="Recipient's username"
                                aria-describedby="basic-addon2" @bind-Value="paciente.FechadeNacimiento" id="fecha" name="fecha"/>
                        </div>
                        </div>



    <RadzenTabs>
        <Tabs>
        <RadzenTabsItem Text="Mayor de Edad">
    <div class="Entrada">
        <label for="Cedula">Cedula:</label>
        <RadzenTextBox type="Cedula" id="Cedula" @bind-Value="paciente.Cedula" name="Cedula"/>
    </div>

    <div class="Entrada">
        <label for="O_Laboral">Ocupacion Laboral:</label>
        <RadzenTextBox type="O_Laboral" id="O_Laboral" @bind-Value="paciente.Ocupacion" name="O_Laboral"/>
    </div>
        </RadzenTabsItem>

    <RadzenTabsItem Text="Menor de edad">
    <div class="Entrada">
        <label for="N_Tutor">Nombre Tutor:</label>
        <RadzenTextBox type="N_Tutor" id="N_Tutor" @bind-Value="paciente.Tutor" name="N_Tutor"/>
    </div>

    <div class="Entrada">
        <label for="C_Tutor">Cedula Tutor:</label>
        <RadzenTextBox type="C_Tutor" id="C_Tutor" @bind-Value="paciente.CedulaTutor" name="C_Tutor"/>
    </div>
    </RadzenTabsItem>
    </Tabs>
    </RadzenTabs>

    <div class="Entrada">
        <label for="Alergias">Alergias:</label>
        <RadzenTextBox type="Alergias" id="Alergias" @bind-Value="paciente.Alergia" name="Alergias"/>
    </div>

    <div class="Entrada">
        <label for="Telefono">Telefono:</label>
        <RadzenTextBox type="Telefono" id="Telefono" @bind-Value="paciente.Telefono" name="Telefono"/>
    </div>

    <div class="Entrada">
        <label for="Direccion">Direccion:</label>
        <RadzenTextBox @bind-Value="paciente.Direccion" type="Direccion" id="Direccion" name="Direccion"/>
    </div>

    <div class="Entrada">
        <label for="Provincia">Provincia:</label>
        <RadzenTextBox @bind-Value="paciente.Provincia" type="Provincia" id="Provincia" name="Provincia"/>
    </div>

    <div class="Entrada">
        <label for="Municipio">Municipio:</label>
        <RadzenTextBox @bind-Value="paciente.Municipio" type="Municipio" id="Municipio" name="Municipio"/>
    </div>

    <center>
        <a href="/V_Paciente/@paciente.PacienteID"><button type="button" class="btn btn-primary"
                style="padding-left: 50px;padding-right: 50px; border-radius:50px; Background-Color:#3AB5F4; border-color:#3AB5F4; margin:10px;"
                @onclick="Guardar">Guardar</button></a>
        <a href="/V_Paciente/@paciente.PacienteID"><button type="button" class="btn btn-danger"
                style="padding-left: 50px;padding-right: 50px; border-radius:50px; margin:10px;">Cancelar</button></a>
    </center>

</EditForm>



@code {

    [Parameter]
    public int PacienteID { get; set; }

    List<Sexo> Sexos = Enum.GetValues(typeof(Sexo))
    .Cast<Sexo>()
    .ToList();
    public Paciente paciente { get; set; } = new Paciente();

    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
    protected override void OnInitialized()
    {

        paciente.PacienteID = PacienteID;
        Buscar();
    }

    private void Buscar()
    {
        var pacienteEncontrado = pacienteBll.Buscar(paciente.PacienteID);
        if (pacienteEncontrado != null)
        {
            Console.WriteLine($"Se encontro una ocupacion con el ID{this.paciente.PacienteID}");
            this.paciente = pacienteEncontrado;

        }
        else
        {
            Nuevo();
            Console.WriteLine("Id no existente");
        }
    }


    public void Nuevo()
    {
        this.paciente = new Paciente();
    }

    public void Guardar()
    {


        var guardado = pacienteBll.Guardar(this.paciente);
        if(guardado)
        {
            Console.WriteLine($"{this.paciente.PrimerNombre} Se guardo en el {this.paciente.PacienteID}");
            this.Nuevo();
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Registro Actualizado", Detail = "Modificado con Exito", Duration = 4000 });
        }

    }




    public void eliminar()
    {



        bool RES = pacienteBll.Eliminar(this.paciente);

        if (RES == false)
        {
            Console.WriteLine("Eliminado Correctamente");
            Nuevo();
        }
        else
        {
            Console.WriteLine("No se borro nada");
        }






        //Nuevo();
        //Console.WriteLine("Id no valido");










    }


}
